<div id="mesida">
<div id="box2"></div>
<div id="box1">
<h1>Vem är jag?</h1>

<!-- <p>{{ text }}</p> -->
<br>
<p>
  Kort och gott.
  <br>
  <br>
  Jag heter Erika och bor i centrala Örebro med sambo och hund.
  För ett år sedan tog jag examen inom statistik och har sedan dess arbetat inom IT på en statlig myndighet.
  Min tjänst är dock mer administrativ och jag kan längta efter att vara lite mer "hands on", därför är planen nu att ta
   en högskoleexamen (eller kandidat, om jag orkar..) inom datavetenskap för att bli än mer attraktiv för arbetsgivarna.
   <br><br>
   I min examen ingick kurspaketen från BTH, det var de kurserna som fick upp mina ögon för programmering på riktigt.
   Aldrig innan har pluggandet faktiskt varit kul.
   <br><br>
   Fritiden spenderas gärna på golfbanan eller ute på sjön paddlandes på en SUP. Nu när vintern närmar sig drar jag mig sakta från naturen in till soffan och börjar räkna ner tills värmen kommer tillbaka.
</p></div>
